.region-title {
  text-align: center;
}

.region-header {
  border: 1px solid #f0b7b7;
  width: 67%;
  padding: 10px;
  margin: 5px;
}

.regionModalWidthClass {
  width: 30% !important;
}

.regionInputFields {
  min-width: 62%;
}
.country_inputfields {
  display: flex !important;
  flex-direction: column;
  width: 33%;
  border: 1px solid #f0b7b7;
  margin: 5px;
}
.ModalBtnAddCountry {
  font-size: 16px;
  background: #ad2128;
  border: 2px solid #ad2128;
  height: 35px;
  min-width: 80px;
  color: white;
  border-radius: 4px;
  margin-right: 15px;
  border: none;
}
.ModalBtnAddCountry:hover {
  box-shadow: 0 3px 5px rgb(40 36 51 / 50%);
  cursor: pointer;
}
.divDisplayCountry {
  display: grid;
  width: 93%;
  padding: 10px;
}
.divDisplayCountryModal {
  display: grid;
  width: 150%;
  padding: 10px;
}
.divDisplayCountryStatus {
  display: flex;
}
.labelClassCountryStatus {
  color: #546271;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  width: 90%;
  margin-top: auto;
  margin-left: 12px;
}
.labelClassCountry {
  color: #546271;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  width: 90%;
}
.textboxInputCountry_1 {
  width: 95%;
  font-weight: 400;
  height: 35px;
}
.textboxInputCountryAdd_1 {
  width: 100%;
  font-weight: 400;
  height: 35px;
}
.textInputCountry {
  padding: 0 0 0 10px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 5px;
}

.textInputCountry:focus {
  outline: 1px solid rgb(201, 200, 200);
}

.textInputCountry:hover {
  box-shadow: 0 0 3px grey;
}
.modalCheckboxCountry {
  margin: 0px 25px 0 15px;
  margin-right: 271px;
}
.footerModalCountry {
  color: white;
  padding: 15px 0px 15px 0px;
  text-align: center;
}
.tableBodyCountry {
  padding: 0.3rem;
  overflow: hidden;
}
.addButtonContainerCountry {
  text-align: end;
}
.modalOpenBtnCountry {
  font-size: 16px;
  background: #ad2128;
  height: 35px;
  width: 100px;
  border: 0px solid #ad2128;
  color: white;
  border-radius: 4px;
  padding: 6px;
  line-height: 0.2;
  letter-spacing: 0.25px;
  margin: 0.3rem;
}
.modalOpenBtnCountry:hover {
  box-shadow: 0 3px 5px rgb(40 36 51 / 50%);
  cursor: pointer;
}
.tableSrollCountry {
  border: 3px solid #f9cbb5;
  border-radius: 10px;
}
.productModalCountry {
  z-index: 111 !important;
  display: block !important;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContentCountry {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  width: 50% !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.regionModalWidthClassCountry {
  width: 30% !important;
}
.headerModalCountry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  color: black;
  background-color: #f9cbb5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-weight: 800;
}
.headerTitleCountry {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
.imagesAndFieldsCountry {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 193px !important;
}
.CloseBtnCountry {
  font-size: 16px;
  height: 35px;
  min-width: 80px;
  border: 2px solid #ad2128;
  color: black;
  border-radius: 4px;
  background: none;
  margin: 0 15px 0 0;
}
.modalCheckboxDivCountry {
  color: #546271;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  margin: 0 0 0 1%;
}
.checkBoxLabelClassCountry {
  color: #546271;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}
.pccContainerCountryEdit {
  display: flex;
  width: 100%;
  margin: 10px 0px 10px 0px;
  gap: 10px;
}
.Country-Container {
  margin: 0 1% 0 1%;
}
